body{
    background-image:url('img/img1.jpg');
    /*background-repeat: no-repeat;*/
}

#mycanvas{
    /*display: inline-block;*/
    margin-top: 60px;
    margin-left: 10px;
    background-color: #ffffff;
    float: left;
    z-index: 5;
}

#menu{
    /*display: inline-block;*/
    width : 15%;
    top: 45px;
    left: 70%;
    float: right;
    position: absolute;
}

#textBox{
    float: left;
    position: absolute;
    word-break: normal;
    background-color: transparent;
    resize: none;
    z-index: 1;
}


